@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100&display=swap');

:root {
    --primary: #fff;
    --secondary: #a2a2a2;
    --acent: #fff;
}
body{
    margin: 0;
    background: #151517;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-image: linear-gradient(90deg, #2c2c2e, #151517);
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #111;
}
::-webkit-scrollbar-thumb {
    background: var(--acent);
}

/* Mulai Dapat merubah Settingan */
a {
    text-decoration: none;
    transition: 0.3s;
    color: var(--primary);
}
a:hover {
    color: var(--acent);
}
p {
    color: var(--secondary);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* Membuat class container dibuat grid */
.container {
    display: grid;
    margin: 0;
    max-width: 1350px;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    align-items: center;
    /* border: 1px solid #fff; */
}
header{
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    color: var(--primary);
    /* border: 1px solid blue; */
}
header main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: 0 0 0 auto;
    /* border: 1px solid red; */
}




/* image pada background */
.main-image {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}



/* Navbar */
.header-body .container {
    padding: 1.65em 2.5em;
    /* border: 1px solid green; */
}





/* main Body */
.header-body .container {
    justify-content: center;
    /* border: 1px solid blue; */
}

.header-body .container > div {
    max-width: 32em;
    padding: 10px;
    /* border: 1px solid #fff; */
}
.header-body .container h1 {
    padding-bottom: 15px;
}
.header-body .container p {
    padding: 10px;
}
.progress {
    width: 50%;
    height: 5px;
    background: #191919;
    /* border: 1px solid red; */
}
.progress div {
    width: 33%;
    height: 100%;
    background: var(--acent);
    transition: 0.3s;
    border-radius: 5px;
}

.slider-cntrl{
    font-size: 0.8em;
    cursor: pointer;
    transition: 0.3s;
    transform: none;
}
.slider-cntrl:hover {
    color: var(--primary);
}
.active {
    color: var(--primary);
    transform: scale(1.1) translateX(2em);
}
.title {
    font-size: 4.5em;
    line-height: 1.2em;
    margin: 0.5em 0;
}
.pagination-mobile {
    display: none;
}
.pagination-mobile li {
    background: var(--secondary);
    margin: 0 0.7em 0 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.pagination-mobile .pag-active {
    background: var(--acent);
}
.sosial {
    /* border: 1px solid blue; */
    padding: 1.65em 2.5em;
    max-width: 32em;
    margin: 0 0 0 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sosial ul {
    width: 40%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #fff; */
}
.sosial ul li a:hover {
    border-bottom: 5px solid var(--acent);
    border-radius: 5px;
    padding-bottom: 5px;
    
}






/* header bottom */
.header-bottom {
    background: rgba(5, 5, 5, 0.5);
    backdrop-filter: blur(10px);
}
.header-bottom .container > div {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}
.item {
    padding: 1.5em 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.item-centered {
    margin: 0 auto;
}
.header-bottom h4 {
    margin: 0.5em 0;
}
.item small:nth-of-type(1){
    color: var(--secondary);
}
.header-bottom a {
    margin-top: 1em;
    color: var(--acent);
    font-weight: 600;
    letter-spacing: 2px;
}








/* Responsive destktop */
@media screen and (max-width: 992px) {
    .container{
        grid-template-columns: 1fr;
    }
    .pagination-mobile {
        display: block;
    }
    .slider {
        display: none;
    }
    .title {
        font-size: 3.5em;
    }
}





/* responsive Mobile Landscape */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    .header-bottom, .container > div {
        flex-direction: column;
    }
    .item-centered {
        margin: 0;
    }
}







/* membuat keyframe  */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-3em);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
    
}






